body {
  margin: 0px auto;
  font-family: "poppins", sans-serif;
}
.header-Hero-section {
  margin: 0;
  width: 100%;
  height: 85vh;
  background-image: url("../images/hero_image.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  flex-direction: column;
  position: relative;
}
.hero-below-cover {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.only-header-navbarouter {
  margin: 0;
  height: 9vh;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}
.only-header-navbarinner {
  width: 80%;
  /* height:9vh; */
  margin: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}
.header-logo {
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  align-items: center;
}
#navlogo {
  height: 75px;
  width: 75px;
}
.header-menu {
  display: flex;
  justify-content: center;
  padding: 5px 20px;
  align-items: center;
}
.header-menu nav {
  display: flex;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu-item {
  position: relative;
}

.menu-link {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-link:hover,
.menu-link:focus {
  background-color: #673c01;
  color: #fff;
  font-weight: bold;
}
.icon-section {
  display: flex;
  justify-content: center;
  padding: 5px 20px;
  align-items: center;
  gap: 25px;
}
.mobile-menu {
  display: flex;
  padding: 5px 5px;
  align-items: center;
}

.hero-below {
  width: 70%;
  display: flex;
  justify-content: center;
}
.hero-left {
  width: 50%;
}
.hero-right {
  width: 50%;
  position: relative;
}
.hero-card {
  width: 33%;
  background-color: rgb(254, 241, 220);
  position: absolute;
  bottom: 120px;
  right: 250px;
  border: 1px solid rgb(218, 217, 217);
}
/* .hero-card > * {
  padding: 0px 15px;
}
.hero-card button {
  padding-bottom: 10px;
} */
.hero-card-cover {
  background-color: rgb(254, 241, 220);
  position: absolute;
  border: 1px solid rgb(218, 217, 217);
}
.hero-container {
  font-family: poppins, sans-serif;
  padding: 12px 20px;
  text-align: left;
  bottom: 0;
  right: 0;
}
#hero-button {
  padding: 12px 20px;
  background-color: rgb(119, 83, 15);
  color: White;
}
.hero-container h2 {
  color: rgb(119, 83, 15);
  font-size: 2rem;
}
.catagory-section {
  display: flex;
  justify-content: center;
}
.catagory-block {
  max-width: 75%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.category-down {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.category-image-card {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.category-image img {
  height: 480px;
  width: 381px;
  border: 1px solid rgb(182, 181, 181);
}
@media (max-width: 767px) {
  .icon-section {
    display: none;
  }
  .header-menu {
    display: none;
  }
  .hero-below-cover {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
  .hero-left {
    width: 0%;
    display: none;
  }
  .hero-right {
    width: 100%;
  }
  .hero-container {
    font-family: poppins, sans-serif;
    padding: 4px 4px;
    text-align: center;
    bottom: 0;
    right: 0;
  }
  .hero-below {
    width: 90%;
    padding-top: 60px;
    display: flex;
    justify-content: center;
  }
  .hero-card-cover {
    background-color: rgb(254, 241, 220);
    position: absolute;
    border: 1px solid rgb(218, 217, 217);
    opacity: 0.8;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .icon-section {
    display: none;
  }
  .hero-below-cover {
    width: 100%;
    display: flex;
    justify-content: right;
    padding-top: 40px;
  }
  .hero-left {
    width: 0%;
    display: none;
  }
  .hero-right {
    width: 75%;
  }
  .hero-below {
    width: 50%;
  }
  .hero-container {
    text-align: center;
  }
}
@media (min-width: 1025px) {
  .mobile-menu {
    display: none;
  }
}
